<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="NoCodeviewport" content="width=device-width, initial-scale=1">
    <title>NoCodeNoCodePortfolio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <div class="container-xxl">
        <div style="margin-top: 180px;" class="p-3 mb-2 text-dark display-1 align-bottom text-xl-center">NoCodePortfolio</div><br><br> 
        <center>
            <button  class="start-portfolio-btn btn btn-success px-3 mb-5" href="#">Lets Start <i class="fa fa-external-link ml-2" aria-hidden="true"></i></button>
            <!-- {{url_for('display')}} -->
        </center>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    </div>
</body>

</html>