.cm-result-content-wrapper-light {
    background-image: linear-gradient(to bottom right, #fecee0, #ecf4d1, #f0b8fb);
    padding: 115px;
}

.cm-result-content-wrapper-dark {
    background-image: linear-gradient(to bottom right, #563d4b, #2a5842, #4e255d);
    padding: 115px;
    color: white;
}

.career-mentorship-result {
    color: #0089BB !important;
}

.cm-result-text{
    padding-left: 230px;
    padding-right: 230px;
}

.confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Make sure the confetti container is behind other content */
  }