.no-bg-image {
    background: none;
}

.main-internship-heading {
    font-size: 60px;
}

#internship-heading-2 {
    color: #0089BB;
}

.internship-wrapper-dark {
    color: #CEF2FF;
}